@import "normalize.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import "colors.css";
@import "fonts.css";
@import "buttons.css";

body {
  margin: 32px 56px 0 312px;
}

i.fas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
  background-color: var(--neutral-20);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blurple);
}

/* FIREFOX */
* {
  scrollbar-color: var(--blurple) var(--neutral-20);
  scrollbar-width: thin;
}

*:hover {
  scrollbar-color: var(--blurple-30) var(--neutral-20);
}

* {
  scrollbar-track-color: var(--neutral-20);
}