/* GENERAL */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 4px;
    margin-bottom: 12px;
}

/* WEEK VIEW */
.calendar.week-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
    height: calc(100vh - 136px);
}

.calendar.week-view .calendar__day {
    height: auto;
    min-height: 200px;
}

.calendar.week-view .calendar__day .date-label {
    margin-bottom: 10px;
}

/* NAVIGATION */
.calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.calendar__navigation__view {
    display: flex;
    flex: 0.8;
    gap: 8px;
}

.calendar__navigation__month {
    display: flex;
    gap: 16px;
}

.calendar__navigation__actions {
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: flex-end;
}

.calendar__navigation__view button {
    max-width: 96px;
}

.calendar__navigation h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.calendar__navigation__month button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--neutral-30);
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

.calendar__navigation__month button:hover {
    filter: invert(1);
    opacity: 0.75;
}

.calendar__navigation__assign {
    max-width: 200px;
    height: 40px !important;
    opacity: 0.5;
    cursor: not-allowed;
}

.calendar__navigation__assign.enabled {
    opacity: 1;
    cursor: pointer;
}

.calendar__navigation__copy {
    max-width: 200px;
    height: 40px !important;
}

/* WEEKDAYS */
.calendar__day {
    border: 1px solid var(--neutral-30);
    padding: 8px;
    height: 136px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.calendar__day:hover {
    background-color: var(--neutral-20);
}

.calendar__day--other {
    opacity: 0.5;
}

.calendar__day.selected {
    outline: 2px solid #007bff;
    outline-offset: -2px;
    background-color: #cce5ff;
}

.calendar__day--sick {
    background-color: #f5abab;
    position: relative;
}

.calendar__day--sick:hover {
    background-color: #f5abab;
    opacity: 0.75;
}

.calendar__day--sick__icon {
    font-size: 48px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendar__day__card {
    color: var(--white);
    background-color: var(--gray);
    padding: 6px 8px;
    border-radius: 4px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.calendar__day__card:hover {
    opacity: 0.7 !important;
}

.calendar__day__card__img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.calendar__day__card__task {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.calendar__day__card__time {
    opacity: 0.6;
    text-align: right;
}

.calendar__day__timeoff {
    margin-top: 4px;
    padding: 6px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--white);
}

.calendar__day__timeoff.approved {
    background-color: var(--positive);
    color: var(--black);
}

.calendar__day__timeoff.not-approved {
    background-color: var(--warning);
}

.calendar__day__timeoff.pending {
    background-color: var(--neutral-50);
}

/* FILTER */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}

.filter {
    height: auto;
}

.filter h4 {
    margin-bottom: 8px;
    color: var(--neutral-90);
}

.filter__header--two {
    margin-top: 24px;
}

/* BUTTONS */
.filter__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

/* TOOLTIP */
.tooltip {
    position: absolute;
    display: none;
    background-color: var(--neutral-50);
    color: var(--white);
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .filter {
        display: none;
    }
}

.calendar__day__card--sick {
    border: 2px solid var(--warning);
    position: relative;
}

.calendar__day__card--sick__indicator{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--warning);
    color: var(--white);
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 0 0 0 5px;
}