/* GENERAL */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 4px;
}

/* NAVIGATION */
.calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.calendar__navigation h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.calendar__navigation button {
    width: 48px;
}

.day {
    border: 1px solid var(--neutral-30);
    padding: 8px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.day em {
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 4px;
    right: 4px;
}

.day span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.other-month {
    opacity: 0.5;
}