/* GENERAL */
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 480px;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* FORM */
.formContainer__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* FORM FIELD */
.formContainer__form__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formContainer__form__field__input,
.formContainer__form__field__textarea {
    width: 100%;
    padding: 8px 0;
    border: 1px solid var(--neutral-20);
    border-radius: 4px;
}

.formContainer__form__button {
    margin-top: 16px;
}

/* COLOR CHOICE */
.color {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
}

.color__choice {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--white);
}

.color__input {
    display: none;
}

.color__input:checked+.color__choice {
    border: 2px solid var(--black);
    transition: border 0.2s;
}