.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 94vh;
    box-sizing: border-box;
}

.dashboard__section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: auto;
}

.dashboard__section h5 {
    margin-top: 0;
    color: var(--neutral-70);
    margin-bottom: 12px;
}

.dashboard__section ul {
    list-style: none;
    padding: 0;
}

.dashboard__section ul li {
    background-color: var(--gray);
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.formContainer {
    width: 100%;
}

.calendar__day__card {
    color: var(--white);
    background-color: var(--gray);
    padding: 6px 8px;
    border-radius: 4px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__day__card__img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.calendar__day__card__task {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.calendar__day__card__time {
    opacity: 0.6;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead th {
    background-color: var(--gray);
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--neutral-30);
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid var(--neutral-30);
}

tbody tr:nth-child(even) {
    background-color: var(--gray);
}