.managers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.managers__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.managers__header button {
    width: 200px;
}

.managercards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.managercard {
    border-radius: 4px;
    padding: 16px;
    flex: 1;
    min-width: 400px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: var(--gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.managercard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.managercard__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--neutral-80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.managercard__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.managercard__hub {
    display: flex;
    gap: 4px;
}

@media screen and (max-width: 768px) {
    .managercard {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .managercard {
        width: calc(100% - 20px);
    }
}