.tasklist {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasklist__item {
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    border-bottom: 1px solid var(--neutral-30);
    cursor: pointer;
    background-color: var(--gray);
}

.tasklist__item:last-child {
    border-bottom: none;
}

.tasklist__item__color {
    min-width: 48px;
    height: 40px; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 0 20px;
    text-transform: uppercase;
    user-select: none;
}
