.tasklist {
    width: 100%;
    margin: 0 auto;
}

.tasklist__tag {
    display: block;
    margin-bottom: 12px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--white);
    position: relative;
    display: flex;
    flex-direction: row;
}

.tasklist__tag__buttons {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    margin-right: 16px;
}

